<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>멋사마켓</title>
</head>
<body>
<h1>♻️멋사마켓♻️</h1>
<h2>제안 등록</h1><br>
<form id="add-suggestion">
    <label>
        가격:
        <input id="input-price" type="number">
    </label>
    <br>
    <button type="submit">등록</button>
</form>
<script>
    document.getElementById('add-suggestion').addEventListener('submit', async (event) => {
        event.preventDefault()
        const token = window.localStorage.getItem('token')
        const productId = [[${productId}]]
        try {
            const response = await fetch(`/items/${productId}/proposal`, {
                method: 'POST',
                headers: {
                    Authorization: `Bearer ${token}`,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    suggestedPrice: document.getElementById('input-price').value
                })
            })

            console.log(response)

            if (!response.ok) {
                const responseBody = await response.json()
                const error = responseBody.message
                if (error === '다시 로그인하여 주시기 바랍니다.') {
                    alert(error)
                    window.location.href = '/auth/sign-in'
                    return
                } else {
                    console.log(error)
                    alert(error)
                }
            }

            const data = await response.json()
            console.log(data)
            alert(data.message)
            window.location.href = `/products/${productId}`

        } catch (error) {
            console.log(error)
        }
    })
</script>
</body>
</html>